# Task proposal

Cover various Python functionalities in a practical way through a course, as well as explore OOP concepts at the end of the task.

Video 1: [PYTHON 3 Quick Course üêç Part #1 2020 - 100% Practical!](https://youtu.be/oUrBHiT-lzo?si=N1RhLUVZZhbtwQSN) (1 hour and 38 minutes)

Video 2: [PYTHON 3 Quick Course üêç Part #2 2020 - 100% Practical!](https://youtu.be/iq7JLIH-sV0?si=xv07ql-WhT8VVJgz) (1 hour and 41 minutes)

# Summary of parts 1 and 2 of the python 3 crash course

The following cells summarize the content shown and encoded in the videos, also following their order of content presented.

# Packages and modules
In Python, packages and modules are a way of organizing and reusing code, where modules will be code written in Python that defines functions, classes and variables that can be imported into any other module where they will be used, behaving like a "library ".

Packages are a way of organizing modules by relating them in a hierarchy of directories. A package can contain other packages or modules within it.

In the video in question, a folder called "package" is created, and another folder inside this called "sub", thus characterizing a hierarchy of packages.

With a module "arquivo.py" created within the sub package, it is possible to import it into main using the following code.

In [ ]:
import package.sub.file

Where from this line, the commands within "arquivo.py" will be executed.

## Built-in variables
Being able to browse different modules in different packages in Python, there is a way for each code to know which package and which file is currently being executed, and this can be done through the built-in variables.

Through the name variable you can access the name of the module executed at that moment. The package variable contains information about the package in question. The following code represents the use of these variables, as shown in the video.

In [ ]:
print(__name__)
print(__package__)

__main__
None

## Shebang
As shown in the code below, the shebang is added to the top of the script files so that a program can interpret and process it correctly, which in this case is Python 3.

In [ ]:
#!python3

#f string

In Python, you can use das f string as a way to facilitate the use of variables within the print command. As shown in the video, the code below is an example of using this functionality.

In [ ]:
text = 'Your age is...'
age = 23

print(f'{text} {age}')

Your age is... 23

# Receiving user data
Through the input command, and assigning its result to a variable, it is possible to receive data from the user, which must then be converted to the right type you want to use in the program, wrapping the input in a python type, as shown below .

In [ ]:
radius = float(input('Enter the radius of the circ: '))

Enter the radius of the circ: 76

# Variable type
The type of a variable can be checked by calling the type command.

In [ ]:
print(type(radius))

<class 'float'>

# Lists

A list in Python is a way of storing data, where it is created as follows:

In [ ]:
nums = [1, 2, 3]

From its creation, new elements can be added through:

In [ ]:
nums.append(42)

Using the insert method, it is possible to place an element at a specific index:

In [ ]:
nums.insert(0, -200)

## Slicing

Lists also allow you to select their items using ":".

In [ ]:
print(nums[1:4])
print(nums[3:])
print(nums[:])

[1, 2, 3]
[3, 42]
[-200, 1, 2, 3, 42]

# Tuples

Unlike the list that uses square brackets, the tuple uses parentheses.

In [ ]:
names = ('Ana', 'Bia', 'Gui', 'Ana')

# Sets

Sets are made up of pairs of keys. It also ignores repeating numbers that have been passed to it.

It is not an indexed structure, that is, it is not accessed through the index.

In [ ]:
conj = {1, 2, 3, 3, 3, 3}
print(conj)

{1, 2, 3}

# Dictionary

Just like a set, it is made up of pairs of keys, but it is made up of key and value.

In [ ]:
student = {
     'name': 'Pedro',
     'note': 9.2,
     'active' : True
}

print(student)

{'name': 'Pedro', 'note': 9.2, 'active': True}

# Operators

## Unaries

Operators that perform their function in just one operand.

### Logical negation

Operator that performs an operation on a Boolean variable.

In [ ]:
print(not True)

False

### Minus

In [ ]:
y = 4
print(-y)

-4

### More

In [ ]:
x = -8
print(+x)

-8

## Binaries

Operators that perform their function on two operands.

### Arithmetic

There are different arithmetic operators in python which are listed and shown in the code below:

In [ ]:
x = 10
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)

13
7
30
3.3333333333333335
1

### Relational

Operators where the result will always be true or false.

In [ ]:
x = 7
y = 5

print(x > y)
print(x >= y)
print(x < y)
print(x <= y)
print(x == y)
print(x != y)

True
True
False
False
False
True

### Assignment

Operators that change the result of a variable.

In [ ]:
Result = 2
Result += 2
Result -= 2
Result *= 2
Result /= 2

### Logic

Operators like "and" and "or".

In [ ]:
b1 = True
b2 = False
b3 = True

print(b1 and b2)
print(b1 or b2 or b3)
print(b1 != b2) #xor
print(not b1)

print(b1 and not b2 and b3)

# Relational operators with logical operators

x = 3
y = 4

print(b1 and not b2 and x < y)

False
True
True
False
True
True

## Ternary

Way to use conditionals to assign values to a variable.

In [ ]:
lockdown = True

status = 'At home' if lockdown else 'Uhuul'
print(status)

At home

# Control structures

## If

Condition taking.

In [ ]:
grade = float(input('Grade: '))

if grade >= 9:
   print('Two words: for goods!')
   print('Honor Roll')
elif grade >= 7:
   print('Approved')
else:
   print('Failed')

Grade: 9
Two words: for goods!
Honor Roll

Algumas propriedades do if:

In [ ]:
a = 'value' # True
a = 0 # False
a = -0.00001 # True
a = '' # False
a = ' ' #True
a = [] # False
a = {} # False

## For

Repeat loop with determined stop.

In [ ]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1, 100, 9):
  print(i, end=' ')

1 10 19 28 37 46 55 64 73 82 91

In [ ]:
nums = [2, 4, 7, 8]

for n in nums:
  print(n, end=' | ')

2 | 4 | 7 | 8 |

In [ ]:
text = 'Python is awesome!'

for letter in text:
   print(letter, end= ' ')

P y t h o n   i s   a w e s o m e !

In [ ]:
product = {
     'name': 'Pen',
     'price': 10,
     'discount': 0.5
}

for attribution in product:
   print(attribution, product[attribution])

for attrib, value in product.items():
   print(f'{attrib} ===> {value}')

for value in product.values():
   print(value, end=' ')

for atrtib in product.keys():
   print(attrib, end=' ')

name Pen
price 10
discount 0.5
name ===> Pen
price ===> 10
discount ===> 0.5
Pen 10 0.5 discount discount discount

## While

Repeat loop with indeterminate stop.

In [ ]:
x = 0

while x != -1:
   x = float(input('Enter the number -1 to exit: '))

print('End')

Enter the number -1 to exit: 5
Enter the number -1 to exit: 6
Enter the number -1 to exit: -1
End

# Functions

The function below shows different ways of using its resources, where through the named parameters, you can choose to pass or not pass the parameters.

In [ ]:
def greeting(name = 'Person', age = 20):
  print(f'Good Morning, {name}!\nYou dont look {age}\n')

greeting()
greeting('Breno')
greeting('Breno', 21)

Good Morning, Person!
You dont look 20

Good Morning, Breno!
You dont look 20

Good Morning, Breno!
You dont look 21

## Arguments

### Packing examples

"Package" the data received by a function into an object, be it a tuple or a dictionary.

In [ ]:
def sum(*nums):
  total = 0
  for n in nums:
    total += n
  return total


s = sum(1, 2, 3, 4, 5, 6)

print(s)

21

In [ ]:
def final_result(**kwargs):
   status = 'approved' if kwargs['grade'] >= 7 else 'failed'
   return f'{kwargs["name"]} was {status}'


result = final_result(name='Pedro', grade=5)
print(result)

Pedro was failed

### Functional programming

Way to store a function inside a variable

In [ ]:
def sum(a, b):
   return a+b

add = sum
print(add(3, 4))

7

The code below shows the use of a function being passed through a parameter for another function to call it.

In [ ]:
def arithmetic_operation(fn, op1, op2):
   return fn(op1, op2)

result = arithmetic_operation(sum, 13, 48)
print(result)

61

The following code demonstrates how to use the return of one function for another to perform a partial sum.

In [ ]:
def partial_sum(a):
   def complete_sum(b):
     return a+b
   return complete_sum

fn = partial_sum(2)
result = fn(3)
print(result)

result = partial_sum(2)(4)
print(result)

5
6

##Map

Cycles through a list making changes to its items based on a function.

Although both repetition loops below have the same proposal, the mapping can be used to perform the same action, thus being able to also reuse the mais_um_meio function if desired in the future in the code.

In [ ]:
def more_half(note):
   return grade + 1.5

grades = [2, 5.6, 2.6, 7.5]

#for i, note in enumerate(notes):
# grades[i] = grade + 1.5

#for i in range(len(notes)):
# notes[i] = notes[i] + 1.5

final_grades = list(map(more_half, grades))
print(final_grades)

[10.5, 10.5, 10.5, 10.5]

Normally used when you want to provide a list, and have a modified list returned.

##Reduce

Iterates through a list by calling a function with one parameter being an accumulator, and another being the current element.

In [ ]:
from functools import reduce

def add(a, b):
   return a+b


grades = [2, 5.6, 2.6, 7.5]

total = reduce(add, grades, 0)
print(total)

17.7

## Lambda and Filter

The filter function will go through all students, applying the lambda function to each one, where in cases where the condition is true, it will cause the element to be present in the generated array.

In [ ]:
from functools import reduce

students = [
     {'name': 'Ana', 'grade': 4.6},
     {'name': 'Breno', 'grade': 10},
     {'name': 'Claudia', 'grade': 7},
     {'name': 'Pedro', 'grade': 5.8},
     {'name': 'Rafael', 'grade': 9.6}
     ]

approved_student = lambda student: student['grade'] >= 7

approved_students = list(filter(approved_student, students))

print(approved_students)

[{'name': 'Breno', 'grade': 10}, {'name': 'Claudia', 'grade': 7}, {'name': 'Rafael', 'grade': 9.6}]

This set of lambda and filter can normally be used when you have a function that can be specified in one line, and helps select specific elements from an array together with the filter.

In [ ]:
get_note = lambda student: student['grade']

grades_passed_students = list(map(get_note, approved_students))

print(grades_passed_students)

[10, 7, 9.6]

In [ ]:
add = lambda a, b: a + b

total = reduce(add, grades_passed_students, 0)

print(total)

26.6

## Summary

Map, reduce and filter are tools applied to lists of objects, with the aim of mapping, adding, and selecting, for example.

## List Comprehension

Way of iterating over a list, making changes and comparisons that will eventually generate another list.

In [ ]:
approved_students = [student['grade'] for student in students if student['grade'] >= 7]

print(approved_students)

[10, 7, 9.6]

# Class

@property is a decorator that ensures that the object's method must be called as an attribute in the code.

In [ ]:
class Product:
   def __init__(self, name, price = 1.99, desc=0):
     self.__name = name
     self.__price = price
     self.desc = desc

   @property
   def name(self):
     return self.__name

   @property
   def price(self):
     return self.__price

   @price.setter
   def price(self, new_price):
     if new_price > 0:
       self.__price = new_price

   @property
   def final_price(self):
     return self.price * (1 - self.desc)

p1 = Product('Pen', 10)
p2 = Product('Notebook', 34, 0.2)

p2.price = 5

print(p1.name, p1.price, p1.desc)
print(p2.name, p2.price, p2.desc, p2.final_price)

Pen 10 0
Notebook 5 0.2 4.0

## Heritage

In the example below, both Uno and Ferrari inherit attributes and methods from Car.

In [ ]:
class Car:
   def __init__(self):
     self.__speed = 0

   @property
   def speed(self):
     return self.__speed

   def accelerate(self):
     self.__speed += 5
     return self.__speed

   def brake(self):
     self.__speed -= 5
     return self.__speed

class Uno(Car):
   pass

class Ferrari(Car):
   def accelerate(self):
     super().accelerate()
     return super().accelerate()

c1 = Car()

c1.accelerate()
print(c1.speed)

c1.accelerate()
print(c1.speed)

c1.accelerate()
print(c1.speed)

c1.accelerate()
print(c1.speed)

5
10
15
20

In [ ]:
c1 = Ferrari()

c1.accelerate()
print(c1.speed)

c1.accelerate()
print(c1.speed)

c1.accelerate()
print(c1.speed)

c1.accelerate()
print(c1.speed)

10
20
30
40

## Membros

In [ ]:
class Counter:
   counter = 0 # Class attribute

   @classmethod
   def inc(cls):
     cls.counter += 1
     return cls.counter

   @staticmethod
   def more_one(n):
     return n + 1

print(Counter.inc())
print(Counter.inc())
print(Counter.inc())
print(Counter.more_one(99))

1
2
3
100